* {
    margin: 0;
    padding: 0;
    font-family: "Dosis", sans-serif;
}

html{
    font-size: 62.5%;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.card{
    width: 25rem;
    height: 45rem;
    box-shadow: 0 2rem 9rem rgba(32, 20, 255, 0.966);
    background-color: rgb(32, 20, 255);
    border: 0.2rem solid rgb(0, 255, 217);
    border-radius: 15%;
    padding: 0.4rem;
    font-size: 12px;
    color: #ffffff;
    margin: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

img{
    width: 70%;
    height: 30%;
    top: 0;
    border-radius: 15%;
    margin-top: 2rem;
    position: absolute;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
    font-size: 2rem;
    color: #ff6600;
    position: absolute;
    top: 35%;
    justify-content: center;
    align-items: center;
}

p{
    top: 50%;
    text-align: center;
    position: absolute;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

@media (max-width:2400px){
    .card{
        width: 20rem;
        height: 30rem;
    }
    img{
        width: 60%;
        height: 20%;
    }
    h2{
        top: 30%;
    }
    p{
        top: 60%;
        font-size: 1.5rem;
    }
}
@media (max-width:2140px){
    h2{
        font-size: 1.6rem;
    }
    p{
        top: 50%;
    }
}
@media (max-width:1820px){
    .card{
        height: 20rem;
    }
    h2{
        font-size: 1.2rem;
    }
    p{
        top: 50%;
        font-size: 1.2rem;
    }
}